@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">

            <div class="welcome"><h2>Welcome to Cuyahoga Community College Student Services Online</h2></div>
            <div class="parahead">Cuyahoha Community College recognizes students' rights to access personal and
                                  academic records in accordance with the Family Educational Rights and Privacy Act of 1974
                                  (FERPA) as amended by Public Law 93-568.</div>
            <div class="login"></div>

            <div class="footer">Cuyahoga Community College<br />700 Carnegie Avenue, Cleveland, Ohio 44115</div>

        </div>

    </body>

</html>